div{
    background-color: aquamarine;
    text-align: center;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;
    position: absolute;
    padding: 20px;

}

/* div{
    width: 60%;   JEITO 1 JEITO 2
    margin: 0 auto;

} */