body {
    color: #444;
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    
   
}
main {
    background-color: rgb(255, 255, 255);
    width: 60%;
    padding: 10px 20px;
    margin: auto;
    border-radius: 10px;
    
}
section {
    border-top-style:solid;
    border-top-color:  #d3d3d3;
    
}
h1, h2 {
    color: rgb(140, 76, 8);
    user-select: none;
}
